.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto

/.quarto/
/_site/

# Raw images - only include optimized webp versions
**/*.png
**/*.jpg
**/*.jpeg
!apps/iwndwytoday/images/IWNDWY_icon.png